<div class="container" id='feed__posts'>
  <%= render @posts %>
</div>

<script>
  setTimeout(() => {
    const imagesOfPost = document.querySelectorAll('.img-post')
    imagesOfPost.forEach((image) => {
      if (image.clientHeight == 600) {
        image.classList.add("tall-image")
      }
    });

    const videosOfPost = document.querySelectorAll('.video-post')
    videosOfPost.forEach((video) => {
      if (video.clientHeight == 600) {
        video.classList.add("tall-video")
      }
    });
  }, 500)
</script>
